@charset "utf-8";

/* common */

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #898989;
  background: #1b2838;
  
  text-align: center;
}

a {
  color: #C6D4DF;
}
a:hover {
  text-decoration: none;
  color: #E6F4FF;
}
a:focus {
  color: #C6D4DF;
}

/* header */

header {
  text-align: center;
  font-size: 28px;
  /*font-weight: bold;*/
  
  background: #171a21;
  
  padding: 20px 0 0;
}

/* navbar */

.navbar {
  background: #171a21;
  border-radius: 0;
  border: 0;
}

.navbar-nav {
  cursor: pointer;
}

.nav {
  display: inline-block;
  float: none;
}

.nav .dropdown-menu {
  background: #171a21;
  color
  
}

.nav .dropdown-menu a {
  background: #171a21;
  color: #C6D4DF;
}

.nav .dropdown-menu a:hover {
  background: #272a31;
  text-decoration: none;
  color: #E6F4FF;
}

/* main */

.main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

/* data-search */

.main > .data-search-area {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main > .data-search-area > .data-search-form > .data-error {
  text-align: left;
}

.main > .data-search-area > .data-search-form > .data-search-button {
  text-align: right;
}

/* achievement */

.main > .achievement-area {
  background: #171a21;
  padding: 20px;
  
  border-radius: 8px;
}

/* achievement-info */

.main > .achievement-area > .achievement-info-area {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 15px;
  
  overflow: hidden;
}

.main > .achievement-area > .achievement-info-area > .achievement-appicon > img {
  margin: 0 auto;
  width: 184px;
  height: 69px;
  
  border-radius: 4px;
}

.main > .achievement-area > .achievement-info-area > .achievement-usericon > img {
  text-align: center;
  margin: 10px;
  width: 64px;
  height: 64px;
  
  border-radius: 4px;
}

.main > .achievement-area > .achievement-info-area > .achievement-top {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}

.main > .achievement-area > .achievement-info-area > .achievement-top > .achievement-appname {
  font-size: 28px;
  color: #e1e1e1;
  margin-top: 0;
  margin-bottom: 10px;
}

.main > .achievement-area > .achievement-info-area > .achievement-top > .achievement-profilename {
  color: #898989;
  margin: 0;
}

/* achievement-search */

.main > .achievement-area > .achievement-search-area {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  
  border-top: 1px dotted #898989;
  border-bottom: 1px dotted #898989;
}

.main > .achievement-area > .achievement-search-area > .achievement-search-form {
  width: 90%;
  margin: 0 auto;
}

.main > .achievement-area > .achievement-search-area > .achievement-search-form > .achievement-search-type > .dropdown-menu > li > a {
  cursor: pointer;
}

.main > .achievement-area > .achievement-search-area > .achievement-search-result {
  margin-top: 10px;
}

/* achievement-list */

.main > .achievement-area > .achievement-list-area {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

.achievement-item {
  /*background: gray;*/
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px dotted #eee;
  
  overflow: hidden;
}

.achievement-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0px;
}

.achievement-item > .achievement-item-icon {
  width: 64px;
  height: 64px;
}

.achievement-item-top {
  float: right;
  width: 100%;
  
  margin-left: -64px;
  padding-left: 64px;
  box-sizing: border-box;
}

.achievement-item-top > .achievement-item-title{
  font-size: 24px;
  color: #e1e1e1;
  margin: 8px 0;
  text-align: center;
}

.achievement-item-top > .achievement-item-timestamp{
  color: #898989;
  text-align: right;
}

.achievement-item-desc {
  color: #898989;
  margin: 10px;
  clear: both;
}

.achievement-item-memo {
  width: 100%;
  box-sizing: border-box;
}

.achievement-item-memo-text {
  height: 26px;
  line-height: 26px;
  
}

.achievement-item-checkboxes {
  width: 100%;
  text-align: center;
}

.achievement-item-checkbox-area {
  background: white;
  height: 40px;
  width: 20%;
  margin: 0;
  padding: 0;
  
  display: inline-block;
  
  cursor: pointer;
}

.achievement-item-checkbox-area > input {
  height: 24px;
  width: 24px;
  
  position: relative;
  top: 8px;
  left: 0;
  
  cursor: pointer;
}

.achievement-list-area .filtering {
  display: none;
}

/* pagetop */

.main > #pagetop {
  background: #171a21;
  color: #C6D4DF;
  
  line-height: 46px;
  height: 38px;
  width: 100px;
  text-align: center;
  
  float: right;
  position: relative;
  top: -8px;
  right: 0;
  
  border-radius: 0 0 8px 8px;
  
  cursor: pointer;
}

.main > #pagetop:hover {
  color: #E6F4FF;
}

.main > #pagetop:focus {
  color: #C6D4DF;
}

/* footer */

footer {
  text-align: center;
  color: #8F98A0;
  margin-bottom: 30px;
}

/* other */

#modalDialog {
  text-align: left;
}

#modalConfirmDialog {
  text-align: left;
}

/* medium */

@media (min-width: 585px) {

  .main > .data-search-area > .data-search-form > .data-form {
    display: inline-block;
  }
  
  .main > .achievement-area > .achievement-info-area > .achievement-appicon > img {
    float: left;
    margin: 0;
    
    position: relative;
    z-index: 2;
  }
  
  .main > .achievement-area > .achievement-info-area > .achievement-usericon > img {
    margin: 0;
    
    position: relative;
    z-index: 2;
  }

  .main > .achievement-area > .achievement-info-area > .achievement-top {
    float: left;
    
    margin-left: -184px;
    padding-left: 184px;
    margin-right: -64px;
    padding-right: 64px;
    
    position: relative;
    z-index: 1;
  }
  
  .main > .achievement-area > .achievement-info-area > .achievement-top > .achievement-appname {
    margin: 8px 0;
  }
  
  .achievement-item-memo {
    float: left;
    
    margin-right: -200px;
    padding-right: 200px;
  }
  
  .achievement-item-checkboxes {
    width: 200px;
    float: left;
  }

}

/* large */

@media (min-width: 820px) {
  
  .main > .data-search-area > .data-search-form > .data-profilename-text, .main > .data-search-area > .data-search-form > .data-appname-text {
    width: 290px;
  }
  
  .data-error {
    width: 680px;
    margin: 0 auto;
  }
  
  /* achievement-area */
  
  .achievement-area {
    height: 100%;
  }
  
  /* achievement-search-area */
  
  .main > .achievement-area > .achievement-search-area > .achievement-search-form {
    width: 613px;
  }
  
  /* achievement-item */
  
  .achievement-item-desc {
    float: left;
    width: 100%;
    
    margin-right: -260px;
    padding-right: 260px;
  }
  
  .achievement-item-edit-area {
    float: right;
    width: 240px;
  }
  
  .achievement-item-memo {
    float: none;
  }
  
  .achievement-item-memo-text {
    width: 240px;
  }
  
  .achievement-item-checkboxes {
    float: none;
    width: 240px;
  }
  
}

/* wide */

@media (min-width: 1366px) {
  
  .main {
    width: 1214px;
    margin: 0 auto;
  }
  
}

 /*debug */

/*.main:before {
  content: 'mini';
}

@media (min-width: 585px) {
  .main:before {
    content: 'medium';
  }
}
@media (min-width: 820px) {
  .main:before {
    content: 'large';
  }
}
@media (min-width: 1366px) {
  .main:before {
    content: 'wide';
  }
}*/
