@charset "utf-8";

/* common */

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: #1b2838;
}

a {
  color: #C6D4DF;
}
a:hover {
  text-decoration: none;
  color: #E6F4FF;
}
a:focus {
  color: #C6D4DF;
}

/* header */

header {
  text-align: center;
  font-size: 28px;
  /*font-weight: bold;*/
  
  background: #171a21;
  
  padding: 20px 0;
  
  border-radius: 0 0 8px 8px;
}

/* main */

.main {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.main > .xml-search-area {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main > .xml-search-area > .xml-search-form > .xml-search-button {
  text-align: right;
}

.main > .achievement-area {
  background: #171a21;
  padding: 20px;
  
  border-radius: 8px;
}

.main > .achievement-area > .achievement-search-area {
  width: 90%;
  margin: 0 auto;
}

.main > .achievement-area > .achievement-search-area > .achievement-search-form {
  width: 100%;
  margin: 0 auto;
}

/* footer */

footer {
  text-align: center;
  color: #8F98A0;
}

/* medium */

@media (min-width: 585px) {

  .main > .xml-search-area > .xml-search-form > .form-group {
    display: inline-block;
  }
  
  .main > .xml-search-area > .xml-search-form > .xml-profilename-text, .main > .xml-search-area > .xml-search-form > .xml-appname-text {
    width: 40%;
  }

}

/* large */

@media (min-width: 820px) {
  
  .main > .xml-search-area > .xml-search-form > .xml-profilename-text, .main > .xml-search-area > .xml-search-form > .xml-appname-text {
    width: 266px;
  }
  
  .main > .achievement-area > .achievement-search-area > .achievement-search-form {
    width: 626px;
  }

}

/* wide */

@media (min-width: 1366px) {
  
  .main > .achievement-area {
    width: 1230px;
    margin: 0 auto;
  }

}

/* debug */

.debug {
  text-align: center;
}

.debug:after {
  content: 'mini';
}

@media (min-width: 585px) {
  .debug:after {
    content: 'midium';
  }
}
@media (min-width: 820px) {
  .debug:after {
    content: 'large';
  }
}
@media (min-width: 1366px) {
  .debug:after {
    content: 'wide';
  }
}
